.modal-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.form-inputs {
    margin-bottom: 0.5rem;
    width: 200%;
  }

.input-field {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: 1px solid #71695F;
    margin-top: 0 !important;
}

.modal-backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #333333;
    opacity: 30%;
    z-index: 1;
}

.modal-box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 40%;
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 101;
    padding: 30px;

}

.modal-box-register{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 101;
    padding: 30px;

}

.modal-header{
    display: inline;
}

.fa-times{
    position: relative;
    padding: 10px 15px 10px 15px;
    left: 86%;
    bottom: 10.5%;
    background-color: #FF5F2D;
    color: white;
    z-index: 500;
    cursor: pointer;
}

.close-btn-regis{
    position: relative;
    padding: 10px 15px 10px 15px;
    left: 84.5%;
    bottom: 8.5%;
    background-color: #FF5F2D;
    color: white;
    z-index: 500;
    cursor: pointer;
}

.form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
  }

  .warning-notif{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: .9rem;
    color: #FF5F2D;
}

.form-label{
    margin-bottom: 0;
}

.form-login-btn, .form-register-btn{
    width: 17%;
    height: 50px;
    border: none;
    background-color: #71695F;
    color: #ffffff;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 10px;
    }

@media screen and (max-width: 960px){
    .close-btn-regis{
        left: 62% !important;
        bottom: 8.9% !important;
    }

    .modal-box{
        width: 60%;
        overflow: hidden;
        z-index: 101;
        padding: 30px;
    }

    .modal-box-register{
        overflow: hidden;
        width: 60%;
    
    }

    .fa-times{
        left: 73%;
        bottom: 11.5%;
    }

    .form-login-btn, .form-register-btn{
    width: 30%;
    height: 40px;
    border: none;
    background-color: #71695F;
    color: #ffffff;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 10px;
    }
}
