.Navbar{
    background-color: #71695F;
    height: 80px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.LogoNavbar{
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    color: #EEEEEE;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    color: #EEEEEE;
    text-decoration: none;
    padding: 30px 20px 25px 20px;
    position: relative;
}

.nav-links:hover{
    background-color: #333333;
}

.fa-bars, .fa-times{
    color: #EEEEEE;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

.SearchBar{
    height: 40px;
    width: 640px;
    display: flex;
    background: #EEEEEE;
    border-radius: 5px;
}

.SearchBar input{
    height: 100%;
    width: 600px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #EEEEEE;
}

.fa-search{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #EEEEEE;
    border-radius: 5px;
}

.menu-holder{
    margin-top: 10px;
}

.Dropdown{
    position: absolute;
    top: 100%;
    width: 15rem;
    display: none;
    transition: .5s;
    z-index: 1;
}

#categories:hover .Dropdown{
    display: block;
    
}

.dropdown-link > a{
    display: flex;
    background-color: #333333;
    color: #EEEEEE;
    padding: 1rem;
    text-decoration: none;
    justify-content: space-between;
    transition: .3s;
    cursor: pointer;
}

.dropdown-link > a:hover{
    background-color: black;
}



@media screen and (max-width: 960px){
    .Navbar{
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 200vh;
        position: absolute;
        top: 60px;
        right: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background: #333333;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 0;
        margin-right: 0;
    }

    .nav-links{
        text-align: right;
        width: 90%;
        display: table;
        padding: 15px 10px 15px 10px;
    }

    .nav-links:hover{
        background-color: black;
    }

    .LogoNavbar{
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .icon-container{
        padding: 5px;
    }

    .SearchBar{
        height: 40px;
        width: 44vh;
        display: flex;
        background: #EEEEEE;
        border-radius: 5px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .SearchBar input{
        height: 100%;
        width: 40vh;
        padding: 0 10px;
        border: none;
        outline: none;
        border-radius: 5px;
        background: #EEEEEE;
    }
    
    .fa-search{
        height: 100%;
        width: 40px;
        line-height: 40px;
        text-align: center;
        background: #EEEEEE;
        border-radius: 5px;
    }

    .Dropdown{
        position: relative;
        text-align: right !important;
        display: block !important;
        width: 10rem;
        margin-top: 20px;
    }

    .dropdown-link > a{
        display: block;
        justify-content: start;
        width: 50vw;
    }

    #categories:hover{
        height: 20px !important;
    }

}