.not-green-btn, .not-red-btn{
    background-color: #dddddd;
  }

.btn-vote{
    margin-left: 2%;
    border: none;
    padding: 2%;
    cursor: pointer;
}
  
.green-btn{
    background-color: #33B95A;
    color: white;
  }

.red-btn{
    background-color: #FF5F2D;
    color: white;
}

  .btn-group{
    display: inline;
  }