.MainIssue{
    width: 90%;
    margin-left: 13%;
    margin-right: 5%;
    padding-right: 10%;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.Komentar{
    width: 90%;
    margin-left: 13%;
    margin-right: 5%;
    padding-right: 10%;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.komentar-tambah{
    width: 90%;
    margin-left: 13%;
    margin-right: 5%;
    padding-right: 10%;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.Discusion{
    width: 50%;
}

.diskusi-title{
    list-style-type: none;
}

.title-numbering{
    margin: 0;
    padding-top: 5px ;
    padding-bottom: 5px ;
    text-align: center;
    background-color: #71695F;
    color: #eeeeee;
}

.judul-diskusi{
    margin-top: 2%;
}

.judul-diskusi:hover{
    text-decoration: underline;
    cursor: pointer;
}

.title-tambah-komentar{
    margin-bottom: 10px;
}

@media screen and (max-width: 960px){

    .MainIssue, .Komentar, .komentar-tambah{
        width: 85%;
        margin-left: 5%;
        border-right: none;
    }    

    .Discusion{
        width: 45%;
        padding-left: 0 !important;
    }

    .title-numbering{
        margin: 0;
        margin-right: 5px;
        padding-left: 10px ;
        padding-right: 20px ;
        text-align: center;
        background-color: #71695F;
        color: #eeeeee;
    }

}
