.main-comment-pic{
    width: 70%;
    height: auto;
}

.reply-comment-pic{
    max-width: 50%;
    height: auto;
    margin-left: 110%;
}

.author-name, .author-name-reply{
    margin-top: 0;
    margin-bottom: 0;
}

.date-comment, .comment-message{
    margin-top: 2%;
    margin-bottom: 0;
}

.comment-message{
    margin-top: 2%;
    margin-bottom: 10px;
}

.comment-message-reply, .date-comment-reply, .point-reply, .author-name-reply{
    margin-left: 20%;
}

.btn-vote{
    margin-left: 2%;
    border: none;
    padding: 2%;
    background-color: #dddddd;
}

.button-area{
    display: inline;
}

.button-area-reply{
    display: inline;
    margin-left: 10%;
}