.form-inputs p{
    color: #FF5F2D;
}

.input-field{
    width: 30%;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #71695F;;
}

.input-field-textarea{
    width: 50%;
    height: 90px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: #71695F;
}

.input-field-textarea::placeholder{
    font-family: 'PT Sans', sans-serif !important;
}

.input-field-textarea{
    font-family: 'PT Sans', sans-serif !important;
    font-size: .9rem;
    padding-top: 5px;
    padding-left: 10px;
}

.form-reset-btn{
    width: 17%;
    height: 50px;
    margin-right: 10px;
    border: none;
    background-color: #71695F;
    opacity: 50%;
    font-family: 'PT Sans', sans-serif !important;
    margin-bottom: 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12pt;
}

.form-comment-btn{
    width: 17%;
    height: 50px;
    border: none;
    background-color: #71695F;
    color: #ffffff;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 10px;
}

.warning-notif{
    margin-top: 2px;
    margin-bottom: 2px;
}